{{>header}}
{{>navbar}}

{{>breadcrumb}}

<div class="container my-3">
    <div class="row mx-3">
        <div class="col-md-3 mb-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9 mb-3">
            <h5 class="bg-primary text-center p-2 text-light">Events <a href="/admin/events"><i
                        class="fa fa-arrow-left-long text-light float-end me-2"></i></a></h5>

            <form action="/admin/events/store" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>Title</label>
                        <input type="text" name="title" placeholder="Enter event title" value="{{data.title}}"
                            class="form-control border-3 border-primary {{#if errorMessage.title}} border-danger {{/if}}">
                        {{#if errorMessage.title }}
                        <small class="text-danger">{{errorMessage.title}}</small>
                        {{/if}}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Short Description</label>
                        <textarea name="shortDescription" rows="3" placeholder="Enter short description"
                            class="form-control border-3 border-primary {{#if errorMessage.shortDescription}} border-danger {{/if}}">{{data.shortDescription}}</textarea>
                        {{#if errorMessage.shortDescription }}
                        <small class="text-danger">{{errorMessage.shortDescription}}</small>
                        {{/if}}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Long Description</label>
                        <textarea id="textEditor" name="longDescription" rows="4" placeholder="Enter long description"
                            class="form-control border-3 border-primary {{#if errorMessage.longDescription}} border-danger {{/if}}">{{data.longDescription}}</textarea>
                        {{#if errorMessage.longDescription }}
                        <small class="text-danger">{{errorMessage.longDescription}}</small>
                        {{/if}}
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Date</label>
                        <input type="date" name="date" value="{{data.date}}"
                            class="form-control border-3 border-primary {{#if errorMessage.date}} border-danger {{/if}}">
                        {{#if errorMessage.date }}
                        <small class="text-danger">{{errorMessage.date}}</small>
                        {{/if}}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Picture</label>
                        <input type="file" name="pic"
                            class="form-control border-3 border-primary {{#if errorMessage.pic}} border-danger {{/if}}">
                        {{#if errorMessage.pic }}
                        <small class="text-danger">{{errorMessage.pic}}</small>
                        {{/if}}

                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="active">Active</label>
                        <select name="active" class="form-select border-3">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100 ">
                            <i class="fa fa-plus"></i> Create Event
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

{{>footer}}