<!-- START FOOTER -->
<footer class="footer-section">
  <div id="top-footer" class="overlay-2 section-back-image-2" data-background="assets/img/bg/pexels-2.jpg">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-sm-5 mb-5">
          <div class="footer-widget-title col-12 p-0">
            {{!-- <div class="logo">
              <a href="/">
                <img class="img-fluid" src="assets/img/logo-black.png" alt="">
              </a>
            </div> --}}
            
            <a href="/"><h3 class="footer-widget-title col-12 p-0">{{siteName}}</h3></a>
          </div>
          <div class="footer-widget-inner">
            <p class="text-justify text-dark">We are a forward-thinking educational institution dedicated to nurturing young minds through academic excellence, cultural values, and holistic development. At our school, we believe in creating a safe, inclusive, and inspiring environment where every student is encouraged to explore, innovate, and grow into responsible global citizens.

</p>
            <div class="img-menu float-lg-left float-none mt-3">
              <div class="footer-social">
                <ul>
                  <li><a class="social-fb" target="_blank" href="{{siteInstagram}}"><i class="icofont-instagram"></i></a></li>
                  <li><a class="social-fb" target="_blank" href="{{siteFacebook}}"><i class="icofont-facebook"></i></a></li>
                  <li><a class="social-tw" target="_blank" href="{{siteTwitter}}"><i class="icofont-twitter"></i></a></li>
                  <li><a class="social-gp" target="_blank" href="{{siteYoutube}}"><i class="icofont-youtube"></i></a></li>
                  <li><a class="social-fb" target="_blank" href="{{siteLinkedin}}"><i class="icofont-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
        

        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
          <div class="footer-widget-title col-12 p-0">
            <h4>Useful Links</h4>
          </div>
          <div class="footer-widget-inner">
            <ul>
              <li><a href="/"><i class="icofont-circled-right"></i> Home</a></li>
              <li><a href="/about"><i class="icofont-circled-right"></i> About Us</a></li>
              <li><a href="/event"><i class="icofont-circled-right"></i> Events</a></li>
              <li><a href="/feature"><i class="icofont-circled-right"></i> Features</a></li>
              <li><a href="/team"><i class="icofont-circled-right"></i> Team </a></li>
              <li><a href="/department"><i class="icofont-circled-right"></i> Department</a></li>
              
            </ul>
          </div>
        </div>

        <!-- end col -->
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
          <div class="footer-widget-title col-12 p-0">
            <h4>Other Links</h4>
          </div>
          <div class="footer-widget-inner">
            <ul>
              <li><a href="/faq"><i class="icofont-circled-right"></i> FAQ</a></li>
              <li><a href="/gallery"><i class="icofont-circled-right"></i> Gallery</a></li>
              <li><a href="/testimonial"><i class="icofont-circled-right"></i> Testimonials</a></li>
              <li><a href="/contactus"><i class="icofont-circled-right"></i> Contact Us</a></li>
              <li><a href="#"><i class="icofont-circled-right"></i> Privacy Policy</a></li>
              <li><a href="#"><i class="icofont-circled-right"></i> Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <!-- end col -->
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-0">
          <div class="footer-widget-title col-12 p-0">
            <h4>Get In Touch</h4>
          </div>
          <div class="footer-widget-inner">
            <div class="footer-contact-widget">
              <div class="footer-contact-sin">
                <div class="footer-contact-sin-left">
                  <i class="icofont-pin"></i>
                </div>
                <div class="footer-contact-sin-right">
                  <a href="{{siteAddress}}" class="text-dark"><p>{{siteAddress}}</p></a>
                </div>
              </div>
              <div class="footer-contact-sin">
                <div class="footer-contact-sin-left">
                  <i class="icofont-smart-phone"></i>
                </div>
                <div class="footer-contact-sin-right">
                  <a href="tel:{{sitePhone}}" class="text-dark"><p>{{sitePhone}}</p></a>
                </div>
              </div>
              <div class="footer-contact-sin">
                <div class="footer-contact-sin-left">
                  <i class="icofont-envelope"></i>
                </div>
                <div class="footer-contact-sin-right">
                  <a href="mailto:{{siteEmail}}" class="text-dark"><p>{{siteEmail}}</p></a>
                </div>
              </div>
              <div class="footer-contact-sin">
                <div class="footer-contact-sin-left">
                  <i class="icofont-clock-time"></i>
                </div>
                <div class="footer-contact-sin-right">
                  <p class="text-dark">Mon - Sat : 09:00 - 18:00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
    </div>
  </div>
  <hr>
  <div id="bottom-footer" class="bg-gray">
    <div class="auto-container">
      <div class="row mb-lg-0 mb-md-4 mb-4">
        <div class="col-lg-6 col-md-12 col-12">
          <p class="copyright-text">Copyright © 2025 <a href="#">SchoolPulse</a> | All Rights Reserved</p>
          
        </div>
        <!-- end col -->
        {{!-- <div class="col-lg-6 col-md-12 col-12">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div> --}}
        <!-- end col -->
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->

<!-- Latest jQuery -->
<script src="/assets/js/jquery-2.2.4.min.js"></script>
<!-- popper js -->
<script src="/assets/bootstrap/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Meanmenu Js -->
<script src="/assets/js/jquery.meanmenu.js"></script>
<!-- Sticky JS -->
<script src="/assets/js/jquery.sticky.js"></script>
<!-- owl-carousel min js  -->
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- isotope js -->
<script src="/assets/js/isotope.3.0.6.min.js"></script>
<!-- venobox js -->
<script src="/assets/venobox/js/venobox.min.js"></script>
<!-- jquery appear js  -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- countTo js -->
<script src="/assets/js/jquery.inview.min.js"></script>
<!-- scrolltopcontrol js -->
<script src="/assets/js/scrolltopcontrol.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="/assets/js/wow.min.js"></script>
<!-- scripts js -->
<script src="/assets/js/scripts.js"></script>


{{!-- rich text editor --}}
<script>
	var textEditor1 = new RichTextEditor("#textEditor1");
	var textEditor2 = new RichTextEditor("#textEditor2");
	var textEditor3 = new RichTextEditor("#textEditor3");
	var textEditor4 = new RichTextEditor("#textEditor4");
	//editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
</script>
</body>