 <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">{{siteName}}</span>
          </a>
          <div class="footer-contact ">
            <p>{{siteAddress}}</p>
            <p class="mt-3"><strong>Phone:</strong> <a class="ms-2" href="tel:{{sitePhone}}">{{sitePhone}}</a></p>
            <p><strong>Email:</strong> <a class="ms-2" href="mailto:{{siteEmail}}">{{siteEmail}}</a></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="{{siteTwitter}}" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="{{siteFacebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="{{siteInstagram}}" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="{{siteLinkedIn}}" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="{{siteYouTube}}" target="_blank"><i class="bi bi-youtube"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/departments">Departments</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/terms">Terms of service</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/data-policy">Data Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Subscribe to our Newsletter</h4>
          <p>Get the latest updates and news from us.</p>
          <form action="">
            <div class="btn-group w-100">
              <input type="email" name="email" placeholder="Enter your email" class="form-control border-5" required>
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </form>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">{{siteName}}</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="#">Daksh</a>
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>


<script>
	var editor1 = new RichTextEditor("#textEditor");
	//editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
</script>
</body>

</html>