<header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          {{!-- <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:{{siteEmail}}">{{siteEmail}}</a></i> --}}

          {{!-- <i class="bi bi-phone d-flex align-items-center ms-4"><span>{{sitePhone}}</span></i> --}}

          <a href="mailto:{{siteEmail}}" class="text-light"><i class="fa fa-envelope me-2"></i><span class="d-none d-ms-inline">{{siteEmail}}</span></a>
          
          <a href="telto:{{sitePhone}}" class="text-light ms-4"><i class="fa fa-phone me-2"></i><span class="d-none d-ms-inline">{{sitePhone}}</span></a>

          <a href="https://wa.me/{{siteWhatsApp}}" class="text-light ms-4"><i class="fa-brands fa-whatsapp me-2"></i><span class="d-none d-ms-inline">{{siteWhatsApp}}</span></a>
        </div>
        <div class="social-links d-md-flex align-items-center">
          <a href="{{siteTwitter}}" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="{{siteFacebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="{{siteInstagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="{{siteLinkedIn}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container-fluid mx-2 position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto">
          <h1 class="sitename">{{siteName}}</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#departments">Departments</a></li>
            <li><a href="#doctors">Doctors</a></li>
            <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#appointment">Make an Appointment</a>

      </div>

    </div>

  </header>